<div style="text-align: center;">
  <h2>About this app</h2>
  <p>このアプリは、INIADのキャンパス内で行われる授業を、東洋大学のシラバスから取得してまとめたものです。</p>
  <p>収集したデータの翻案の意味については、「基本的なデータの考え方」を参照してください</p>
  <hr>
  <p>Special Thanks</p>
  <p>INIADに通うネコ <a href="https://twitter.com/iniadcat">Twitter</a></p>
  <h2>プライバシーについて</h2>
  <p>このアプリでは、Googleアナリティクスを使用したアクセス解析を行っています。<br>このデータは、アプリの使用状況を把握し、アプリの改善に役立てる目的で使用し、個別・具体的なデータを第三者に提供いたしません。</p>

  <p><a href="https://gitlab.com/s1f101800261/syllabusapp-for-iniad">Source code</a>（プルリクお待ちしております）</p>
  <hr>
  <br>
  <h2>基本的なデータの考え方</h2>
  <p>このアプリの主たる目的は、シラバスが示す情報をなるべく翻案せずに、必要な情報のみを表示することです。<br>そのため、実態と異なる情報を表示する場合があり、ここではその一例を示します。</p>
  <br>
  <h3>再履修クラスについて</h3>
  <p>CS概論などの一部科目には、再履修クラスが存在する場合があります。</p>
  <p>本来修得するべき学年で履修する学生は、履修のしようがないクラスのため、上級生のカテゴリに入れるのが見やすさの観点から言えば正確ですが、科目自体はあくまで本来修得するべき学年のものになるため、ここでは再履修のクラスも同列に扱っています。</p>
  <br>
  <h3>下級学年の科目について</h3>
  <p>このアプリで表示しているのは「その学年で履修が可能な科目」です。<br>コース別の演習など、より下の学年で修得する前提にあった科目も表示するようになっています。</p>
  <br>
  <p>Developer: Beahashy <a href="https://twitter.com/beahashy">Twitter</a></p>
</div>
