<h2>時間割一覧</h2>
<form class="form" method="post">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <div class="form-group">
    <label for="target_year">学年：</label>
    <select class="form-control" name="target_year" id="target_year">
      <option value="">---</option>
      <option value="1">1年</option>
      <option value="2">2年</option>
      <option value="3">3年</option>
      <option value="4">4年</option>
    </select>
    <% if params[:target_year].present? then %>
      <script>
        document.getElementById('target_year').value = '<%= params[:target_year] %>'
      </script>
    <% end %>
  </div>
  <div class="form-group">
    <label for="course">コース：</label>
    <select class="form-control" name="course" id="course">
      <option value="">---</option>
      <option value="0">共通</option>
      <option value="1">１年生</option>
      <option value="2">エンジニアリング</option>
      <option value="3">デザイン</option>
      <option value="4">ビジネス</option>
      <option value="5">シビル</option>
      <option value="6">未所属</option>
    </select>
    <% if params[:course].present? then %>
      <script>
          document.getElementById('course').value = '<%= params[:course] %>'
      </script>
    <% end %>
  </div>
  <div class="form-group">
    <label for="quarter">セメスタ/クォーター：</label>
    <select class="form-control" name="quarter" id="quarter">
      <option value="">---</option>
      <option value="spring">春学期</option>
      <option value="1">1Q</option>
      <option value="2">2Q</option>
      <option value="fall">秋学期</option>
      <option value="3">3Q</option>
      <option value="4">4Q</option>
    </select>
    <% if params[:quarter].present? then %>
      <script>
          document.getElementById('quarter').value = '<%= params[:quarter] %>'
      </script>
    <% end %>
  </div>
  <div class="form-group">
    <label for="title">科目名：</label>
    <input class="form-control" name="title" id="title">
    <% if params[:title].present? then %>
      <script>
          document.getElementById('title').value = '<%= params[:title] %>'
      </script>
    <% end %>
  </div>
  <div class="form-group">
    <label for="teacher">担当教員名：</label>
    <input class="form-control" name="teacher" id="teacher">
    <% if params[:teacher].present? then %>
      <script>
          document.getElementById('teacher').value = '<%= params[:teacher] %>'
      </script>
    <% end %>
  </div>
  <div class="form-group">
    <div>下級学年の科目を含めて検索する：<input type="checkbox" name="include_past_grade" id="include_past_grade"></div>
    <% if params[:include_past_grade] == "on" then %>
      <script>
          document.getElementById('include_past_grade').isOn = true;
      </script>
    <% end %>
  </div>
  <button class="btn btn-primary" onclick="submit();">検索</button>
  <input type="reset" class="btn btn-secondary">
</form>
<br>
<table class="table table-responsive table-condensed table-striped table-bordered">
  <thead>
    <tr>
      <th class="text-center">↓時間/曜日→</th>
      <th class="text-center">月</th>
      <th class="text-center">火</th>
      <th class="text-center">水</th>
      <th class="text-center">木</th>
      <th class="text-center">金</th>
      <th class="text-center">土</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="text-center">1限<br>9:00〜10:30</td>
      <% (0..5).each do|i| %>
        <td><% @data.select{|param| param.time == 1 and param.week == i }.each do|data| %>
            <p><a href="/lectures/<%= data.uuid %>"><%= data.title %></a></p>
          <% end %></td>
      <% end %>
    </tr>
    <tr>
      <td class="text-center">2限<br>10:40〜12:10</td>
      <% (0..5).each do|i| %>
        <td><% @data.select{|param| param.time == 2 and param.week == i }.each do|data| %>
            <p><a href="/lectures/<%= data.uuid %>"><%= data.title %></a></p>
          <% end %></td>
      <% end %>
    </tr>
    <tr>
      <td class="text-center">3限<br>13:00〜14:30</td>
      <% (0..5).each do|i| %>
        <td><% @data.select{|param| param.time == 3 and param.week == i }.each do|data| %>
            <p><a href="/lectures/<%= data.uuid %>"><%= data.title %></a></p>
          <% end %></td>
      <% end %>
    </tr>
    <tr>
      <td class="text-center">4限<br>14:45〜16:15</td>
      <% (0..5).each do|i| %>
        <td><% @data.select{|param| param.time == 4 and param.week == i }.each do|data| %>
            <p><a href="/lectures/<%= data.uuid %>"><%= data.title %></a></p>
          <% end %></td>
      <% end %>
    </tr>
    <tr>
      <td class="text-center">5限<br>16:30〜18:00</td>
      <% (0..5).each do|i| %>
        <td><% @data.select{|param| param.time == 5 and param.week == i }.each do|data| %>
            <p><a href="/lectures/<%= data.uuid %>"><%= data.title %></a></p>
          <% end %></td>
      <% end %>
    </tr>
    <tr>
      <td class="text-center">6限<br>18:15〜19:45</td>
      <% (0..5).each do|i| %>
        <td><% @data.select{|param| param.time == 6 and param.week == i }.each do|data| %>
            <p><a href="/lectures/<%= data.uuid %>"><%= data.title %></a></p>
          <% end %></td>
      <% end %>
    </tr>
  </tbody>
</table>