<h2>履修メモ</h2>
<br>
<a href="<%= sync_toyo_app_path %>" class="btn btn-outline-primary">東洋大学アプリ連携</a>
<hr>
<table class="table table-responsive table-condensed table-striped table-bordered">
  <thead>
  <tr>
    <th class="text-center">↓時間/曜日→</th>
    <th class="text-center">月</th>
    <th class="text-center">火</th>
    <th class="text-center">水</th>
    <th class="text-center">木</th>
    <th class="text-center">金</th>
    <th class="text-center">土</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td class="text-center">1限<br>9:00〜10:30</td>
    <% (0..5).each do|i| %>
      <td><% @data.select{|param| param.time == 1 and param.week == i }.each do|data| %>
          <p><a href="/lectures/<%= data.uuid %>"><%= data.title %></a></p>
        <% end %></td>
    <% end %>
  </tr>
  <tr>
    <td class="text-center">2限<br>10:40〜12:10</td>
    <% (0..5).each do|i| %>
      <td><% @data.select{|param| param.time == 2 and param.week == i }.each do|data| %>
          <p><a href="/lectures/<%= data.uuid %>"><%= data.title %></a></p>
        <% end %></td>
    <% end %>
  </tr>
  <tr>
    <td class="text-center">3限<br>13:00〜14:30</td>
    <% (0..5).each do|i| %>
      <td><% @data.select{|param| param.time == 3 and param.week == i }.each do|data| %>
          <p><a href="/lectures/<%= data.uuid %>"><%= data.title %></a></p>
        <% end %></td>
    <% end %>
  </tr>
  <tr>
    <td class="text-center">4限<br>14:45〜16:15</td>
    <% (0..5).each do|i| %>
      <td><% @data.select{|param| param.time == 4 and param.week == i }.each do|data| %>
          <p><a href="/lectures/<%= data.uuid %>"><%= data.title %></a></p>
        <% end %></td>
    <% end %>
  </tr>
  <tr>
    <td class="text-center">5限<br>16:30〜18:00</td>
    <% (0..5).each do|i| %>
      <td><% @data.select{|param| param.time == 5 and param.week == i }.each do|data| %>
          <p><a href="/lectures/<%= data.uuid %>"><%= data.title %></a></p>
        <% end %></td>
    <% end %>
  </tr>
  <tr>
    <td class="text-center">6限<br>18:15〜19:45</td>
    <% (0..5).each do|i| %>
      <td><% @data.select{|param| param.time == 6 and param.week == i }.each do|data| %>
          <p><a href="/lectures/<%= data.uuid %>"><%= data.title %></a></p>
        <% end %></td>
    <% end %>
  </tr>
  </tbody>
</table>