<h2>時間割詳細</h2>
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

<div class="twitter">
  　<a href="//twitter.com/share" class="twitter-share-button" data-text="" data-url="https://schedule.iniad.dev<%= request.fullpath %>" data-lang="ja">
  Tweet
</a>
</div>
<table class="table table-responsive table-condensed table-striped table-bordered">
  <tbody>
    <tr>
      <th>科目名</th>
      <td><%= @data.title %></td>
    </tr>
      <th>担当教員</th>
      <td><%= @teachers %></td>
    </tr>
      <th>学期・クォーター</th>
      <td><%= @quarter %></td>
    </tr>
      <th>曜日・時間</th>
      <td><%= @time %></td>
    </tr>
      <th>受講可能学年</th>
      <td><%= @available_grade %></td>
    </tr>
    <tr>
      <th>教室</th>
      <td><%= @room %></td>
    </tr>
  </tbody>
</table>
<hr>
<% if signed_in? then %>
  <div id="checkmark_form_area">
    <form id="checkmark_form" action="/lectures/<%= params[:id] %>/check" method="post">
      <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
      <div class="form-check">
        <% if current_user.registered_lectures.include?(params[:id]) %>
          <input class="form-check-input" type="checkbox" id="is_register" name="is_register" checked>
        <% else %>
          <input class="form-check-input" type="checkbox" id="is_register" name="is_register">
        <% end %>
        <label class="form-check-label" for="is_register">
          履修する
        </label>
      </div>
    </form>
    <script>
        $("#is_register").change(function(){
            $("#checkmark_form").submit();
        });
    </script>
  </div>
<% else %>
  <div id="checkmark_form_area">
    <p>履修メモを利用するには、<a href="<%= sign_in_path %>">INIADアカウントでサインイン</a>してください</p>
  </div>
<% end %>