<h2>東洋大学アプリ連携</h2>
<div class="alert alert-warning">
  <p>東洋大学の統合IDとパスワードを入力することで、実際に履修登録した情報を反映させることができます。</p>
  <p>統合IDとパスワードを使用したサードパーティー製アプリに関しては、<a href="https://www.toyo.ac.jp/ja-JP/news/students/20200305_attention/" >大学より注意喚起がなされています。</a></p>
  <p>このアプリでは、以下のポリシーにて、統合IDとパスワードを使用します。</p>
  <ul>
    <li>入力された統合IDとパスワードは、東洋大学アプリのAPIキーと引き換えるために使用します</li>
    <li>東洋大学アプリのAPIキーは、次回以降の同期に使用するため、ユーザーのアカウント情報と紐付けられて保存されます</li>
    <li>APIキー保存後は、APIキーのみを用いて通信を行い、統合IDとパスワードは破棄されます</li>
  </ul>
  <p>アプリ開発者は、統合IDとパスワードを速やかに破棄するように運用しておりますが、利用の際はあくまで自己責任においてご利用ください。</p>
</div>
<hr>
<form action="" method="post">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <% unless current_user.toyo_api_key.present? then %>
    <div class="form-group">
      <label for="toyo_id">ユーザーID：</label>
      <input class="form-control" id="toyo_id" name="toyo_id" type="text" placeholder="s1F10xxxxxxx">
    </div>
    <div class="form-group">
      <label for="toyo_pw">パスワード：</label>
      <input class="form-control" id="toyo_pw" name="toyo_pw" type="password" placeholder="">
    </div>
    <button type="submit" class="btn btn-primary">登録</button>
  <% else %>
    <button type="submit" class="btn btn-primary">同期</button>
  <% end %>
</form>